@model BookStore.Entities.Book[]

@{
    ViewData["title"] = "Results of search";
}

<h1>Results of search</h1>

@if (Model.Length == 0)
{
    <p>Empty!</p>
}
else
{
    <ul>
        @foreach (var book in Model)
        {
            <li><a href="@Url.Action("Index", "Book", new {id = book.Id})">@book.Title</a></li>
        }
    </ul>
}